<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <td>lp.</td>
        <td>First side</td>
        <td>Second side</td>
        <td>Lang</td>
        <td>Actions</td>
      </tr>
      </thead>
      <tbody *ngIf="langFlashCards !== null">
      <tr *ngFor="let langFlashCard of langFlashCards.content; let i = index">
        <td> {{i + 1 + (langFlashCards.number * 10)}} </td>
        <td> {{langFlashCard.firstSide}} </td>
        <td> {{langFlashCard.secondSide}} </td>
        <td> {{langFlashCard.lang}} </td>
        <td>
          <button class="btn" (click)="edit(langFlashCard.id)"><span class="material-icons">edit</span></button>
          <button type="button" class="btn" (click)="delete(langFlashCard)">
            <span class="material-icons">delete</span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
