<div class="container">
  <div *ngIf="hasRepetition()">
    <div class="row">
      <div class="col">
        <p>Remaining: {{repetitionsPageable.content.content.length}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3>{{ repetition.firstSide }}
          <span placement="bottom" [ngbPopover]="repetition.comment" popoverTitle="Notice">
              <span class="material-icons">info</span>
            </span>
        </h3>
      </div>
    </div>

    <form (submit)="checkAnswers()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="answer">Enter translation</label>
            <input type="text" class="form-control" id="answer" name="answer"
                   [(ngModel)]="repetitionAnswerModel.answer"
                   [disabled]="repetitionAnswerModel.answered"
                   autocomplete="off"/>
          </div>
        </div>
      </div>

      <div *ngIf="!repetitionAnswerModel.answered; else answeredSection" class="row">
        <div class="col">
          <button class="btn btn-outline-primary btn-sm">Check answers</button>
        </div>
      </div>
    </form>

    <ng-template #answeredSection>
      <div *ngIf="repetitionAnswerModel.valid; else notValidAnswer" class="row">
        <div class="col">
          <p style="color: #2d791c">Great!</p>
          <p>Correct answer: <span class="font-bold">{{repetition.secondSide}}</span></p>
          <button class="btn btn-outline-success btn-sm" (click)="saveAnswer()">Next [1]</button>
        </div>
      </div>
      <ng-template #notValidAnswer>
        <div class="row">
          <div class="col">
            <p style="color: #ac3939">Wrong!</p>
            <p>Correct answer: <span class="font-bold">{{repetition.secondSide}}</span></p>

          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button class="btn btn-outline-danger btn-sm btn-block" (click)="skipRepetition()">Skip [1]</button>
          </div>
          <div class="col-6">
            <button class="btn btn-outline-success btn-sm btn-block" (click)="saveAnswer()">I know it [2]</button>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
  <div *ngIf="hasErrorMessage()">
    <p>
      {{repetitionsPageable.error}}
    </p>
  </div>
</div>
