<div class="container">
  <ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link" routerLink="./default" routerLinkActive="active">Repetition</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./verb" routerLinkActive="active">Verb</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
