<div *ngIf="pageable && pageable.totalPages > 1">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="pageable.number === 0">
        <button class="page-link" tabindex="-1" (click)="onPreviousPage()">Previous</button>
      </li>
      <li *ngFor="let page of pagesArray(); let i = index" [class.active]="pageable.number === page" class="page-item">
        <button class="page-link" (click)="onSelectPage(page)">{{ page + 1 }}</button>
      </li>

      <li class="page-item" [class.disabled]="pageable.number + 1 === pageable.totalPages">
        <button class="page-link" (click)="onNextPage()">Next</button>
      </li>
    </ul>
  </nav>
</div>
