<div class="wrapper fadeInDown">

  <div id="formContent">

    <div *ngIf="!isRegistered">
      <!-- Icon -->
      <div class="fadeIn first mt-3 mb-3">
        <h1>FluentApp</h1>
      </div>

      <!-- Login Form -->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input type="text" id="username" class="fadeIn second" formControlName="username" placeholder="username">
        <input type="email" id="email" class="fadeIn third" formControlName="email" placeholder="email"
               autocomplete="disable">
        <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="password"
               autocomplete="disable">
        <input type="submit" class="fadeIn fourth" value="Sign up">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="d-block" routerLink="/login">Sing in</a>
      </div>
    </div>


    <div *ngIf="isRegistered">
      <p class="pt-3">Successfuly registered: <a routerLink="/login">Sing in</a></p>
    </div>

  </div>
</div>
