<div class="container">
  <ul class="nav nav-tabs mb-3" role="tablist">
    <li class="nav-item">
      <a class="nav-link" routerLink="./list" routerLinkActive="active">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="./add" routerLinkActive="active">Add</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>

