<div class="wrapper fadeInDown">
  <div *ngFor="let alert of alerts" class="content-width">
    <ngb-alert [type]="alert.type" (closed)="clear()">{{ alert.message }}</ngb-alert>
  </div>

  <div id="formContent" class="pt-3">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first pb-3">
      <h1>FluentApp</h1>
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="text" id="username" class="fadeIn second" formControlName="username" placeholder="username">
      <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="password"
             autocomplete="disable">
      <input type="submit" class="fadeIn fourth" value="Log in">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class=" d-block" routerLink="/register">Sing up</a>
      <a class=" d-block">Forgot Password?</a>
    </div>


  </div>
</div>
