<form (ngSubmit)="addPhrase(); resetForm()" #langFlashCardForm="ngForm">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="phrase">Pharse</label>
        <input type="text" class="form-control" id="phrase" required [(ngModel)]="langFlashCard.firstSide"
               name="phrase">
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="lang">Language</label>
        <select class="form-control" id="lang" name="lang" required [(ngModel)]="langFlashCard.lang">
          <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="phraseTranslation">Translation</label>
        <input type="text" class="form-control" id="phraseTranslation" required
               [(ngModel)]="langFlashCard.secondSide" name="phraseTranslation">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="comment">Phrase comment</label>
        <textarea class="form-control" id="comment" [(ngModel)]="langFlashCard.comment" name="comment">
        </textarea>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="secondForm">Second form</label>
        <input class="form-control" id="secondForm" [(ngModel)]="langFlashCard.secondForm" name="secondForm"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="thirdForm">Third form</label>
        <input class="form-control" id="thirdForm" [(ngModel)]="langFlashCard.thirdForm" name="thirdForm"/>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="!langFlashCardForm.form.valid">Save</button>
      </div>
    </div>
  </div>
</form>
