
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="phrase-list" role="tabpanel" aria-labelledby="phrase-list-tab">
    <div class="row">
      <div class="col-md-12">
        <h2>List wyrażeń</h2>
      </div>
    </div>

    <app-search (search)="search$.next($event)"></app-search>

    <div *ngIf="(langFlashCards$ | async) as langFlashCards">

      <app-flash-cards-list-view [langFlashCards]="langFlashCards"
                     (deleteEvent)="openDeleteModalConfirmation($event)"
                     (editEvent)="redirectToEdit($event)"
      ></app-flash-cards-list-view>

      <app-pagination [pageable]="langFlashCards"
                      (onPageSelectEvent)="fetchFlashCards($event)"
      ></app-pagination>
    </div>
  </div>
</div>


