/* You can add global styles to this file, and also import other style files */

@import '~material-design-icons/iconfont/material-icons.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fixed-center {
  position: fixed;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, 0);
  z-index: 9999999;
}
