<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container">
      <a class="navbar-brand" routerLink="/content">FluentSpeech</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="./home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./flashcards" routerLinkActive="active">FlashCards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./repetition" routerLinkActive="active">Repetitions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./gramma" routerLinkActive="active">Known words list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" role="button" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
