<div *ngIf="hasRepetition()">
  <div class="row">
    <div class="col">
      <p>Remaining: {{this.verbRepetitions.length}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>{{repetition.firstForm}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>Is Regular?</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-outline-success btn-sm btn-block"
              [disabled]="verRepetitionModel.answeredFirstStep" (click)="checkIfIsRegular()">Yes
      </button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-outline-danger btn-sm btn-block"
              [disabled]="verRepetitionModel.answeredFirstStep" (click)="checkIfIsNotRegular()">No
      </button>
    </div>
  </div>

  <div *ngIf="verRepetitionModel.answeredFirstStep" class="mt-3">
    <div class="row">
      <div class="col">

        <div *ngIf="verRepetitionModel.validFirstStep; else notValidFirstStep">
          <div class="form-group">
            <label for="secondForm">Enter second form</label>
            <input type="text" class="form-control" id="secondForm" name="secondForm"
                   [disabled]="verRepetitionModel.answeredSecondStep"
                   [(ngModel)]="verRepetitionModel.secondForm" autocomplete="off"/>
          </div>

          <div *ngIf="!this.isRegular()" class="form-group">
            <label for="thirdForm">Enter third form</label>
            <input type="text" class="form-control" id="thirdForm" name="thirdForm"
                   [disabled]="verRepetitionModel.answeredSecondStep"
                   [(ngModel)]="verRepetitionModel.thirdForm" autocomplete="off"/>
          </div>

          <div *ngIf="!verRepetitionModel.answeredSecondStep">
            <button class="btn btn-outline-primary" (click)="checkAnswers()">Check answers</button>
          </div>

          <div *ngIf="verRepetitionModel.answeredSecondStep;">
            <div *ngIf="verRepetitionModel.validSecondStep; else notValidSecondStep">
              <p style="color: #2d791c">Great!</p>
              <button class="btn btn-outline-success" (click)="saveAnswer()">Next</button>
            </div>
          </div>
        </div>

        <ng-template #notValidFirstStep #notValidSecondStep>
          <p style="color: #ac3939">Wrong!</p>
          <p>Second form: <span class="font-weight-bold">{{repetition.secondForm}}</span></p>
          <p *ngIf="!isRegular()">Third form: <span class="font-weight-bold">{{repetition.thirdForm}}</span></p>
          <button class="btn btn-outline-danger" (click)="prepareVerb()">Next</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
